<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>我的券码</title>
    <link href="./static/css/vendors.css" rel="stylesheet">
    <link href="./static/css/myTicket.css" rel="stylesheet">
</head>

<body>
    <div class="box">
        <img class="banner" src="./static/img/banner.566ff9b.jpg" alt="">
        <ul class="code-list">
            <li>
                <div>XX券码号：<em>XXX</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX1</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX2</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX3</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX4</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX</em></div>
                <div class="copy">点击复制</div>
            </li>
            <li>
                <div>XX券码号：<em>XXX1</em></div>
                <div class="copy">点击复制</div>
            </li>

        </ul>

    </div>
    <div class="nav_box">
        <ul class="nav">
            <li>
                <a href="generateTicket.html">
                    <div>生成券码</div>
                </a>
            </li>
            <li>
                <a href="myTicket.html">
                    <div>我的券码</div>
                </a>
            </li>
            <li>
                <a href="usercenter.html">
                    <div>个人中心</div>
                </a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="./static/js/vendors.js"></script>
    <script type="text/javascript" src="./static/js/myTicket.js"></script>
</body>

</html>